/*style utama*/



/*main*/
.containerr{
    background-color: #0ABDE3;
    margin-top: 70px;
    margin-bottom: 10px;
    

}

.containerr h1 {
    font-size: 50px;
   margin-top: 50px;
    text-align: center;
    text-shadow: 2px 2px white;
}

.galery li{
    width: 180px;
    height: 180px;
    /*overflow: hidden;*/
    border-radius: 3px;
    border: 2px solid #656; 
    margin: 60px 25px 70px 60px;
   
    float:left;
    position: relative;
}



.galery li span{
    display:block;
    width: 150px;
    height: 150px;
    background-color: rgba(200,200,200,.5);
    position: absolute;
    top: 0;
    line-height: 150px;
    color:#333;
    text-shadow: 1px 1px #ddd;
    opacity:0 ;
    transition: .3;
    transform: scale(0) rotasi(0);
}

.galery li a:hover span{
    opacity: 1;
    transform: scale(2) rotasi(360deg);
}

.clear{
    clear: both;
}

.overlay{
    width:0;
    height:0;
    overflow: hidden;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgbA(0,0,0,0);
    z-index: 9999;
    transition: .5;
    text-align: center;
    padding:100px 0;

}

.overlay:target{
    width:auto;
    height:auto;
    bottom:0;
    right:0;
    background-color: rgbA(0,0,0,0.8);
}

.overlay img{
    max-height: 100%;
    box-shadow: 2px 2px 7px rgba(0,0,0,.6);
}

.overlay .close{
  position: absolute;
  top:50px;
  left:50%;
  margin-left: -20px;
  color:white;
  text-decoration: none;
  border: 1px solid blue;
  line-height: 15px;  
}
